@use '../styles/breakpoints';

.layout {
  max-width: 1200px;
  margin: 0 auto;
}

.boxes {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .orangeBox,
  .blueBox,
  .violetBox {
    position: absolute;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 36px;
  }

  .orangeBox {
    top: 90px;
    left: 40px;
    width: 70%;
    height: 60%;
    border-color: #f7931e;
  }

  .blueBox {
    bottom: 20px;
    right: 20px;
    width: 55%;
    height: 45%;
    border-color: #96bbfb;
  }

  .violetBox {
    top: 45%;
    left: 28%;
    right: 40%;
    bottom: 18%;
    border-color: #dbafdd;
  }
}
